*{
		margin: 0;
		padding: 0;
	}
	body{
		width:100%;
		/*position: relative;*/
		background-color: #EEEEEE;
		font-family: 'pingFangSC-Regular';
	}
	a{
		text-display: none;
		color:#222222;
	}
	.background-color{
		width:100%;
		height:800px;
		background-color: #222;
		z-index: -2;
	}
	.background-img{
		height:100%;
		width:100%;
		background: url('../img/background.png') no-repeat center;
		background-size:cover;
		opacity: 0.9;
		z-index: -1;
	}
	.cover{
		position: absolute;
		top:0;
		left:0;
		height:800px;
		width:100%;
		background-color: #222;
		opacity: 0.5;
		z-index: -1;
	}
	/*头部导航栏*/
	.header{
		background-color: rgba(34,34,34,0);
		width:100%;
		height:100px;
		color: white;
		min-width: 1200px;
		z-index:1;
	}
	.header:hover{
		background-color: rgba(34,34,34,0.7);
	}
	.media_box{
		width:500px;
		height:80px;
		line-height: 80px;
		float: left;
		margin-left: 50px;
	}
	.media_box a{
		display: inline-block;
		width:80px;
		height:80px;
		line-height: 80px;
	}
	.icon{
		width:30px;
		height:30px;
		margin-top: 30px;
	}
	.nav{
		float: right;
		line-height: 80px;
		margin-right: 50px;
        text-align: center;
	}
	.nav a{
		display: inline-block;
		width:80px;
		color:white;
		text-decoration: none;
	}
	.nav a:hover{
		color:red;
	}
	/*微信二维码*/
	.wx-code{
		width:165px;
		height:165px;
		position: absolute;
		background-color: #222;
		border:solid 2px #fff ;
		top:80px;
		left:50px;
		text-align: center;
		line-height: 160px;
		border-radius: 7px;
		display: none;
	}
	.wx-code img{
		line-height: 160px;
		margin: 0 auto;
		width:145px;
		height:145px;
		vertical-align: middle;
	}
	/*背景遮罩*/
	.head{
		background-color: rgba(34,34,34,0);
		width:100%;
		height:700px;
		color: white;
	}
	.head .title{
		position: absolute;
		width:400px;
		height:100px;
		top:50%;
		left:50%;
		margin-left: -200px;
		margin-top: -50px;
		text-align: center;
	}
	/*网站标题、slogan*/
	.head .title h1{
		font-size: 50px;
	}
	.head .title p{
		font-size: 24px;
	}