{#{% load staticfiles %}#}
{% load static %}

{% block child %}
{% endblock child %}
<!-- 文章列表部分 -->
	<div class="posts-list">
    {% for post in page.object_list %}
	<div class="post-box">
		<div class="left-box">
            <div class="title"><a href={% url "detail" post.id %}>{{ post.title|slice:":45" }}</a></div>
			<div class="excerpt">{{ post.excerpt }}</div>
			<div class="created_time">{{ post.created_time }}</div>
			<div class="author">{{ post.author }}</div>
		</div>
		<div class="thumbnail">
			<img src="{% static 'media/' %}{{ post.head_img.url }}"/>
		</div>
	</div>
    {% empty %}
        <div class="post-box"><div class="left-box">NO POSTS!</div></div>
    {% endfor %}
	</div>
{% block page %}
{% endblock page %}
<footer class="footer">
	<div class="copyright">
		<a href="https://github.com/zijeak" target="_blank"><img src="{% static 'img/github.png' %}"/ class="icon"></a>
		<a href="https://blog.csdn.net/qq_18404993" target="_blank"><img src="{% static 'img/csdn.png' %}"/ class="icon"></a>
		<a href="https://zijeak.cnblogs.com/" target="_blank"><img src="{% static 'img/cnblog.png' %}"/ class="icon"></a>
	    <p>关于我 | Powered by Django | 陕ICP备18049062号-1 | Copyright© 2019-2020 Zijeak</p>
	</div>
</footer>
</body>
</html>